<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Editar Usuário</h1>
        <div class="buttons">
            <button class="button" ng-click="modal.remove()">Cancelar</button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <form name="formEdit">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Usuário</span>
                <input ng-model="userEdit.username" type="text" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Senha</span>
                <input type="password" ng-model="userEdit.password" required>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Hierarquia
                </div>
                <select required ng-options="role.cod as role.name for role in roles"
                        ng-model="userEdit.role" ng-change="changeHierarq(userEdit.role)">
                </select>
            </label>

            <button class="button button-full button-positive" ng-disabled="formEdit.$invalid" ng-click="editUser(userEdit)">Salvar</button>
        </div>
        </form>
    </ion-content>
</ion-modal-view>